<table class="table table-striped">
    <thead>
    <tr>
        <th>Name </th>
        <th>count</th>
    </tr>
    </thead>
    <tbody>
        @{
            for (int i = 1; i <= 10; i++)
            {
                <tr>
                <td></td>
                <td>@i</td>
                </tr>
            }
        }
    </tbody>
    
</table>