@model IEnumerable<Hospital.Models.Reservation>
<h1>Reservation Management</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Doctor Name</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reserve in Model)
        {
            <tr>
            <td>@reserve.DoctorName</td>
            <td >@reserve.Patient</td>
            <td>@reserve.Date</td>
            <td>@reserve.Time</td>
            
        </tr>
        }
        
        
    </tbody>
</table>
