

<div class="container w-50">

    <form asp-action="SaveNew" asp-controller="Movie" method="post">
        
        <partial name="_CreateEditMovie.cshtml"></partial>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}