@model MovieViewModel

@{
    SelectList categories = new SelectList(ViewBag.categories, "Id", "Name");
    SelectList cinemas = new SelectList(ViewBag.cinemas, "Id", "Name");
}

<div class="container">

    <form asp-action="SaveNew" asp-controller="Movie" method="get">
        
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />

        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <br />

        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span asp-validation-for="Price"></span>
        <br />

        <label asp-for="StartDate"></label>
        <input class="form-control" asp-for="StartDate" />
        <span asp-validation-for="StartDate"></span>
        <br />

        <label asp-for="EndDate"></label>
        <input class="form-control" asp-for="EndDate" />
        <span asp-validation-for="EndDate"></span>
        <br />

        <label asp-for="CategoryId"></label>
        <select class="form-select" asp-for="CategoryId" asp-items="categories"></select>
        <span asp-validation-for="CategoryId"></span>
        <br />

        <label asp-for="CinemaId"></label>
        <select class ="form-select" asp-for="CinemaId" asp-items="cinemas"> </select>
        <span asp-validation-for="CinemaId"></span>
        <br />


        <label asp-for="ImgUrl"></label>
        <input type="file" class="form-control" asp-for="ImgUrl" />
        <span asp-validation-for="ImgUrl"></span>
        <br />

        <label asp-for="TrailerUrl"></label>
        <input class="form-control" asp-for="TrailerUrl" />
        <span asp-validation-for="TrailerUrl"></span>
        <br />

        


        <input type="hidden" asp-for="Id" />

        <button class="btn btn-primary" type="submit">Create</button>
    </form>

</div>