@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/Hospital.jpg " style="height:390px;width:100%" />
    <h1 class="display-4">Welcome To Our <span style="color:red">Hospital</span> </h1>
    <p>Thank You For Choosing Our Hospital For Your Healthecare Needs</p>
    <p>Here, We Strive To Provide The Highest Quality Medical Care ToOur Patients,</p>
    <p>Learn More About Our Service And Specialest</p>
</div>
