@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>
    <p>Thank You For Choosing Our Hospital For Your Healthecare Needs</p>
    <p>Here, We Strive To Provide The Highest Quality Medical Care ToOur Patients,</p>
    <p>Learn More About Our Service And Specialest</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
