
<form asp-action="Save" asp-controller="Produc" method="post">
    <partial name="_CreateEditParial.cshtml"></partial>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>

    }